.y-resize-scroll {
  position: relative;
  border-left: 1px solid rgba(8, 14, 23, 0.12);
}
.resize-scroll-y {
  position: absolute;
  width: 100%;
  background-color: #c1c1c1;
  border-width: 0;
  transition: background-color 0.3s;
}
.resize-scroll-y:hover {
  background-color: #888;
}
.resize-scroll-y-btn {
  height: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resize-scroll-y-btn::before {
  content: '';
  width: 0;
  height: 0;
  border-width: 0 3px 3px;
  border-style: solid;
  border-color: transparent transparent #333;
}

/* .resize-scroll-y-btn:hover,
.resize-scroll-x-btn:hover {
  background: #c1c1c1;
} */

.resize-scroll-y-button::before {
  transform: rotatez(180deg);
}

.x-resize-scroll {
  position: relative;
  border-top: 1px solid rgba(8, 14, 23, 0.12);
  display: flex;
}
.resize-scroll-x {
  position: absolute;
  height: 100%;
  background-color: #c1c1c1;
  border-width: 0;
  transition: background-color 0.3s;
}

.resize-scroll-x:hover {
  background-color: #888;
}
.resize-scroll-x-btn {
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resize-scroll-x-btn::before {
  content: '';
  width: 0;
  height: 0;
  border-width: 0 3px 3px;
  border-style: solid;
  border-color: transparent transparent #333;
}

.resize-scroll-x-left::before {
  transform: rotatez(270deg);
}
.resize-scroll-x-right::before {
  transform: rotatez(90deg);
}
